.Header {
	height: 91vh;
	width: 100%;
}

.banner {
	width: 100%;
	height: 91vh;
	text-align: left;
	position: relative;
}

.banner img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: block;
	object-fit: cover;
	z-index: -999;
}


/* .backdrop {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: black;
	opacity: 0.2;
	z-index: 0;
} */

.bannerText {
	width: 90%;
	height: 100%;
	margin: auto;
	color: var(--dark);
	display: flex;
	flex-flow: column;
	justify-content: center;
	position: relative;
	z-index: 999;
}

.textContainer {
	border-left: 5px solid var(--light-black);
}

.textContainer>div {
	padding-left: 1%;
}

.white .textContainer {
	color: antiquewhite;
}

.white .textContainer .label {
	color: antiquewhite;
}

.label {
	font-size: 2.5em;
	color: var(--dark);
}

.mainText {
	font-size: 5em;
	font-weight: 600;
	background-color: var(--light-black);
	padding-right: 1%;
	display: inline;
	color: white;
}

.subText {
	font-size: 3em;
}

.button {
	margin-top: 40px;
}

.btn {

	text-align: left;
	display: inline;
	background-color: var(--light-black);
	color: white;
	padding: 5px 30px;
	font-size: 2em;
}

@media (max-width:1024px) {
	.banner img {
		height: 100%;
	}
}