@import './css/menu.css';
@import './css/all.css';
@import './css/banner.css';
@import './css/cart.css';
@import './css/chitiet.css';
@import './css/dongho.css';
@import './css/favorite.css';
@import './css/footer.css';
@import './css/service.css';
@import './css/location.css';
@import './css/giohang.css';
@import './css/index.css';
@import './css/izmir.min.css';
@import './css/menu.css';
@import './css/saleevent.css';
@import './css/thanhtoan.css';
@import './css/trahang.css';
@import './css/addsuccess.css';
@import './css/reponsive.css';
@import './css/hover.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

