.add-success{
    position:fixed;
    top:0;
    width:100vw;
    height:100vh;
    z-index:1000000;
    background-color: #00000040;
}
.add-box{
    background-color: #eeeeee;
    padding-top:40px;
    padding-bottom:50px;
    border-radius:20px;
}
.add-box .text2{
    color:#9f0808;
    font-weight:600;
}
.add-box img{
    margin-bottom:20px
}
.display-add-success{
    display:none!important;
}
