@import url(https://fonts.googleapis.com/css?family=Lobster:regular);

@import url(https://fonts.googleapis.com/css?family=Fira+Sans:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);


body {
	margin: 0;
	font-family: "Fira Sans";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

body::-webkit-scrollbar {
	display: none;
}

:root {
	--light-black: #272727;
	--orange: rgb(219, 119, 76);
	--yellow: #ecc86c;
	--light-gray: #C8C8C8;
	--dark: #3F3E3E;
	--mainFont: "Lobster";
}

.btn {
	padding: 10px 20px;
	white-space: nowrap;
	border: none;
	background-color: var(--light-black);
	color: #fff;
	font-size: 1.3em;
}

.btn:hover {
	cursor: pointer;
}

.btn:focus {
	outline: 0;
}

.display-none {
	display: none;
}

.hasBorder {
	border: 0.7em solid #fff;
}

.hasShadow {
	box-shadow:
		0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048),
		0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072),
		0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);

}

.bg-secondary {
	background-color: var(--orange);
}

.skewed {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--orange);
	z-index: 0;
	transform: skewY(3deg);
	transform-origin: 90% -56%;
	z-index: -999;
}

.skewed-reverse {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--yellow);
	z-index: 0;
	transform: skewY(-5deg);
	transform-origin: 40% 75%;
	z-index: 0;
}

a {
	text-decoration: none;
}

/* Grow Rotate */
.hvr-grow-rotate {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;

}

.hvr-grow-rotate:hover,
.hvr-grow-rotate:focus,
.hvr-grow-rotate:active {
	-webkit-transform: scale(0.9) rotate(4deg);
	transform: scale(0.9) rotate(4deg);
	cursor: pointer;
}

/* Bob */
@-webkit-keyframes hvr-bob {
	0% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}

	50% {
		-webkit-transform: translateY(-4px);
		transform: translateY(-4px);
	}

	100% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}
}

@keyframes hvr-bob {
	0% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}

	50% {
		-webkit-transform: translateY(-4px);
		transform: translateY(-4px);
	}

	100% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}
}

@-webkit-keyframes hvr-bob-float {
	100% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}
}

@keyframes hvr-bob-float {
	100% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}
}

.hvr-bob {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-bob:hover,
.hvr-bob:focus,
.hvr-bob:active {
	-webkit-animation-name: hvr-bob-float, hvr-bob;
	animation-name: hvr-bob-float, hvr-bob;
	-webkit-animation-duration: .3s, 1.5s;
	animation-duration: .3s, 1.5s;
	-webkit-animation-delay: 0s, .3s;
	animation-delay: 0s, .3s;
	-webkit-animation-timing-function: ease-out, ease-in-out;
	animation-timing-function: ease-out, ease-in-out;
	-webkit-animation-iteration-count: 1, infinite;
	animation-iteration-count: 1, infinite;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-direction: normal, alternate;
	animation-direction: normal, alternate;
}

.CursorLeft:hover {
	cursor: url("https://i.imgur.com/AroP91L.png"), auto !important;
}

.CursorRight:hover {
	cursor: url("https://i.imgur.com/CwLVYeZ.png"), auto !important;
}

.show {
	display: block !important;
}

::-webkit-scrollbar {
	width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: var(--dark);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
	background: var(--light-blackE);
}