.Item {
	width: 100%;
	text-align: left;
}

.info {
	margin-top: 15px;
}

.itemName {
	font-size: 1.2em;
	color: var(--light-black);
	font-weight: 600;
	line-height: 1.5;
	text-transform: uppercase;
}

.description {
	font-size: 1em;
	color: var(--dark);
}

.price {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.sale {
	margin-top: 10px;
}

.sale>span:first-child {
	padding-right: 10px;
	font-size: 2em;
	color: var(--light-black);
}

.sale>span:last-child {
	text-decoration: line-through;
	color: var(--dark);
}

.percent {
	padding-bottom: 5px;
	color: #d72d2d;
}