.Jewelries {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row-reverse;
}

.TitleWrapper {
	width: 35%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Title {
	width: 100%;
	height: 50vh;
	background-color: var(--yellow);
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	text-align: right;
}

.Title>div:first-child {
	margin-right: 10%;
}

.productType {
	margin-right: 12%;
}

.Title>div:last-child {
	margin-right: 14%;
}

.upperText,
.lowerText {
	font-size: 3em;
	font-weight: 600;
	color: var(--light-black)
}

.upperText {
	padding-top: 10vh;
}

.productType {
	font-size: 5em;
	font-weight: 600;
	color: white;
}

.Content {
	width: 65%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contentWrapper {
	height: 70%;
	width: 90%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.goToShop {
	width: 30%;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.goToShop>div {
	width: 40%;
}

.text {
	color: var(--light-black);
	font-size: 2.5em;
	font-weight: 600;
}

.goToShop .icon svg {
	width: 100%;
	fill: var(--light-black);
}

@media (max-width:1024px) {
	.productType {
		color: var(--orange);
		margin-right: 0;
		font-size: 4em;
	}

	.upperText,
	.lowerText {
		font-size: 2em;
	}


}