.productImage {
	height: 100%;
	position: relative;
	z-index: 999;
}

.productImage img {
	height: 100%;
	display: block;
}

.productImage:hover {
	cursor: none;
	box-shadow:
		0 2.5px 2.2px rgba(0, 0, 0, 0.037),
		0 5.9px 5.3px rgba(0, 0, 0, 0.053),
		0 11.1px 10px rgba(0, 0, 0, 0.065),
		0 19.9px 17.9px rgba(0, 0, 0, 0.077),
		0 37.2px 33.4px rgba(0, 0, 0, 0.093),
		0 89px 80px rgba(0, 0, 0, 0.13);
}

.magnify {
	position: absolute;
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	z-index: 999;
	display: none;
	transform: translate(-50%, -50%);
	border: 5px solid white;
	pointer-events: none;
	background-color: white;

}