.image-layout {
	position: relative;
	width: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
}

.image-layout img {
	width: 100%;
	border: 10px solid rgb(255, 255, 255);
}

.image-layout .left-image,
.image-layout .right-image {
	position: absolute;
	z-index: 50;
}

.image-layout .left-image {
	top: 0;
	left: 0;
	width: 45%;
}

.image-layout .right-image {
	bottom: 0;
	right: 0;
	width: 45%;

}

.image-layout .center-image {
	margin-top: 70px;
	margin-bottom: 50px;
	width: 30%;
	z-index: 999;
}



.Header {
	display: flex;
	position: relative;
	height: 91vh;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	margin: auto;
}

.Header .slogan {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
}

.Header .slogan blockquote {
	position: relative;
	top: 0;
	right: 0;
	width: 60%;
	margin: 0 auto;
	font-size: 3em;
	line-height: 58px;
	text-align: right;
	color: #484848;
}

.Header .slogan blockquote strong {
	color: #EBB526
}

.Header .slogan .author {
	font-size: 0.7em;
}

.discover {
	position: absolute;
	display: flex;
	align-items: flex-end;
	bottom: 15%;
	width: 35%;
	flex-flow: column nowrap;
	justify-content: center;
}

.btn-container {
	display: flex;
	flex-flow: column;
	align-items: center;
}


@media all and (max-width:1600px) {
	html {
		font-size: 12px;
	}

	.Header .slogan blockquote {
		margin-right: 10%;
	}

	.image-layout>div {
		width: 50%;
	}

	.nav-container {
		height: 75px;
	}

	.image-layout {
		margin: 30px auto
	}

	.image-layout .center-image {
		margin: 60px 0;
	}


}

@media all and (max-width:800px) {
	html {
		font-size: 10px;
	}


	.slogan {
		display: none;
	}

	.image-layout .right-image,
	.image-layout .left-image {
		display: none;
	}

	.image-layout .center-image {
		width: unset;
	}

	.discover {
		position: relative;
		width: 100%;
		align-items: center;
		margin-bottom: 50px;
	}

	.image-layout {
		margin-bottom: 10px
	}

	.image-layout .center-image {
		margin-bottom: 10px;
	}
}