.Glasses {
	width: 90%;
	height: 100vh;
	margin: auto;
	display: flex;
	justify-content: space-between;
	margin-bottom: 100px;
	position: relative;
}

.Glasses>div {
	width: 50%;
}

.leftContent {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.leftContent img {
	width: 100%;
	display: block;
}

.mainImage {
	width: 50%;
	box-shadow:
		0 2.8px 2.2px rgba(0, 0, 0, 0.037),
		0 6.7px 5.3px rgba(0, 0, 0, 0.053),
		0 12.5px 10px rgba(0, 0, 0, 0.065),
		0 22.3px 17.9px rgba(0, 0, 0, 0.077),
		0 41.8px 33.4px rgba(0, 0, 0, 0.093),
		0 100px 80px rgba(0, 0, 0, 0.13);

}

.subImage {
	width: 70%;
	bottom: 10%;
	left: 0;
}

.background {
	width: 30%;
	position: absolute;
	height: 50%;
	top: 0;
	left: 0;
	background-color: var(--dark)
}


.link>a {
	display: inline-block;
	font-size: 3em;
	color: white;
	padding: 0 5%;
	margin-top: 10px;
	background-color: var(--dark);
}

.rightContent {
	display: flex;
	flex-flow: column nowrap;
	color: var(--dark);
	text-align: right;
	justify-content: space-evenly;
}



.rightContent .subText {
	font-size: 3em;
	padding-right: 5%;
}

.rightContent .mainText {
	padding-right: 5%;
	font-size: 6em;
	background-color: var(--light-black);
	color: white;
	font-weight: 600;
}

@media (max-width:600px) {
	.Glasses {
		flex-direction: column;
	}

	.Glasses>div {
		width: 90%;
		margin: auto
	}

	.background {
		right: 0;
		margin: auto;
	}
}